---
import Typography from '~components/ui/Typography.astro';

interface Props {
  items: {
    title: string;
    description: string;
  }[];
}

export interface FeatureDescriptionItemsProps extends Props {}

const { items } = Astro.props;
---

<div class="items">
  {
    items.map((item) => (
      <div class="item">
        <Typography tag="p" styling="bodyL">
          {item.title}
        </Typography>
        <Typography tag="p" styling="paragraphS">
          {item.description}
        </Typography>
      </div>
    ))
  }
</div>

<style>
  .items {
    display: flex;
    flex-direction: column;
    gap: var(--s-8);
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: var(--s-8);

    padding: var(--s-16);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-8);

    background-color: var(--background);
  }
</style>
