---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import Typography from '~components/ui/Typography.astro';

interface Props {
  items: {
    icon: AstroComponentFactory;
    title: string;
  }[];
}

export interface FeatureItemsGridProps extends Props {}

const { items } = Astro.props;
---

<div class="items">
  {
    items.map((item) => (
      <div class="item">
        <item.icon width={28} height={28} fill="var(--text)" />
        <Typography tag="p" styling="bodyL">
          {item.title}
        </Typography>
      </div>
    ))
  }
</div>

<style lang="scss">
  @use '~styles/mixins/media' as *;

  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--s-8);

    @include media-min('md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .item {
    display: flex;
    gap: var(--s-12);
    align-items: center;

    padding: var(--s-12);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-8);

    background-color: var(--background);
  }
</style>
