---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import Typography from '~components/ui/Typography.astro';

interface Props {
  items: {
    icon: AstroComponentFactory;
  }[];
}

export interface IntegrationsInfoBoxProps extends Props {}

const { items } = Astro.props;
---

<div class="title">
  <Typography tag="p" styling="headingXs">Current integrations</Typography>
</div>

<div class="items">
  {
    items.map((item) => (
      <div class="item">{<item.icon width={'3.2rem'} height={'3.2rem'} />}</div>
    ))
  }
  <div class="item full">
    <Typography tag="p" styling="paragraphS">
      Don’t see your integration?<br /><b>Contact us</b> - we’ll add it!
    </Typography>
  </div>
</div>

<style>
  .title {
    margin-bottom: var(--s-24);
  }

  .items {
    display: flex;
    gap: var(--s-8);
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: var(--s-8);
    align-items: center;
    justify-content: center;

    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-8);

    background-color: var(--background);

    &.full {
      align-items: center;
      justify-content: center;

      width: fit-content;
      padding: 0 var(--s-12);

      text-align: center;
    }
  }
</style>
