@font-face {
  font-family: Grotesk;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/OverusedGrotesk-Book.tff') format('truetype');
}

@font-face {
  font-family: Grotesk;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/OverusedGrotesk-Medium.tff') format('truetype');
}


h1,
.headingXl {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.2;
}

h2,
.headingL {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.2;
}

h3,
.headingM {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2;
}

h4,
.headingS {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.3;
}

h5,
.headingXs {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
}

p,
.bodyL {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.45;
}

.bodyM {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.45;
}

.bodyS {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}

.paragraphL {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.paragraphM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.45;
}

.paragraphS {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}