.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.text {
  color: var(--text);
}

// Primary colors
.primary500 {
  color: var(--primary-500);
}

.primary600 {
  color: var(--primary-600);
}

// Grays

.gray50 {
  color: var(--gray-50);
}

.gray100 {
  color: var(--gray-100);
}

.gray200 {
  color: var(--gray-200);
}

.gray300 {
  color: var(--gray-300);
}

.gray400 {
  color: var(--gray-400);
}

.gray500 {
  color: var(--gray-500);
}

.gray600 {
  color: var(--gray-600);
}

.gray700 {
  color: var(--gray-700);
}

.gray800 {
  color: var(--gray-800);
}

.gray850 {
  color: var(--gray-850);
}

.gray900 {
  color: var(--gray-900);
}
