@import '~styles/partials/global';
@import '~styles/partials/normalize';
@import '~styles/partials/typography';
@import '~styles/partials/colors/colors.module';

@import '~styles/variables/layout';
@import '~styles/variables/palette';
@import '~styles/variables/spacing';
@import '~styles/variables/radius';
@import '~styles/variables/breakpoint';
@import '~styles/variables/z-index';