---
import Typography from '~components/ui/Typography.astro';
import RocketLaunch from 'phosphor-astro/RocketLaunchDuotone.astro';
import CheckCircle from 'phosphor-astro/CheckCircle.astro';
import Button from '~components/ui/Button.astro';
import { SECTIONS } from '~consts/sections';

const features = [
  'Unlimited users and estimates',
  'Reusable templates and library',
  'Unlimited AI-Powered Estimates',
  'Export to external tools',
  'Branded proposals',
  'Access to AI Agent',
  'Priority Support',
];
---

<section id={SECTIONS.PRICING} class="container">
  <div class="texts">
    <Typography align="center" tag="h2" styling="headingL">
      <span class="normalText">Pricing for software<br />project</span>
      <span class="highlightText">estimation tool</span>
    </Typography>

    <Typography align="center" tag="p" styling="paragraphL">
      Try it free for 14 days. No credit card required. Early adopter pricing
      available.
    </Typography>
  </div>

  <div class="cards">
    <div class="card earlyAdopter">
      <div class="icon">
        <RocketLaunch width={36} height={36} fill="var(--primary)" />
      </div>

      <Typography tag="p" styling="headingS">
        Join as an<br /> early adopter!
      </Typography>

      <div>
        <Typography tag="p" styling="paragraphM">
          Get special early adopter pricing and direct support from our team. We
          work closely with early users, gather feedback, and iterate quickly so
          you shape the product while it grows and expands.
        </Typography>
      </div>
    </div>

    <div class="card">
      <Typography tag="p" styling="headingXs" class="planTitle">
        14 DAYS FREE TRIAL
      </Typography>

      <div class="title">
        <Typography class="planCost" tag="p" styling="headingL"
          >TRIAL</Typography
        >
        <Typography
          class="duration"
          tag="p"
          color="gray1000"
          styling="paragraphL"
        >
          for 14 days
        </Typography>
      </div>

      <div class="whatsIncluded">
        <Typography tag="p" styling="bodyL">What&apos;s included</Typography>

        <div class="features">
          {
            features.map((feature) => (
              <div class="feature">
                <CheckCircle
                  width={24}
                  height={24}
                  class="featureIcon"
                  fill="var(--success)"
                />

                <Typography tag="p" styling="paragraphL">
                  {feature}
                </Typography>
              </div>
            ))
          }
        </div>

        <Button
          href="https://app.devtimate.com/workspace/settings/billing"
          class="buyButton"
          variant="primary"
          isFullWidth
        >
          Try it now!
        </Button>
      </div>
    </div>
    <div class="card paidPlan">
      <Typography tag="p" styling="headingXs" class="planTitle">
        PRO
      </Typography>

      <div class="title">
        <Typography class="planCost" tag="p" styling="headingL">$80</Typography>
        <Typography
          class="duration"
          tag="p"
          color="gray1000"
          styling="paragraphL"
        >
          per month
        </Typography>
      </div>

      <div class="whatsIncluded">
        <Typography tag="p" styling="bodyL">What&apos;s included</Typography>

        <div class="features">
          {
            features.map((feature) => (
              <div class="feature">
                <CheckCircle
                  width={24}
                  height={24}
                  class="featureIcon"
                  fill="var(--success)"
                />

                <Typography tag="p" styling="paragraphL">
                  {feature}
                </Typography>
              </div>
            ))
          }
        </div>

        <Button
          href="https://app.devtimate.com/workspace/settings/billing"
          class="buyButton"
          variant="primary"
          isFullWidth
        >
          Go Pro!
        </Button>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '~styles/mixins/media' as *;

  .container {
    margin-top: var(--section-gap);
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: var(--s-32);
    align-items: center;
  }

  .normalText {
    position: relative;
    z-index: 2;
  }

  .highlightText {
    position: relative;
    z-index: 1;
    background-color: var(--primary-lightest-doodle);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--s-16);
    margin-top: var(--s-64);

    @include media-min('sm') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    display: flex;
    flex-direction: column;

    padding: var(--s-32);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-16);
  }

  :global(.planTitle) {
    padding-bottom: var(--s-28);
    letter-spacing: 1px;
  }

  .title {
    display: flex;
    gap: var(--s-12);
    align-items: flex-end;
  }

  .earlyAdopter {
    gap: var(--s-16);
    background-color: var(--gray-50);
  }

  .paidPlan {
    border-color: var(--primary);
    border-width: 2px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: var(--s-16);
    border-radius: var(--radius-circle);

    background-color: var(--primary-background);
  }

  .whatsIncluded {
    display: flex;
    flex-direction: column;
    gap: var(--s-12);
    margin-top: var(--s-32);
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: var(--s-8);
  }

  .feature {
    display: flex;
    gap: var(--s-10);
    align-items: start;
  }

  :global(.planCost) {
    font-weight: 600;
  }

  :global(.duration) {
    padding-bottom: var(--s-2);
  }

  :global(.featureIcon) {
    padding-top: var(--s-2);
  }

  :global(.buyButton) {
    margin-top: var(--s-46);
  }
</style>
