---
import Typography from '~components/ui/Typography.astro';
import highlight from '~assets/highlights/highlight-three.svg';
import sparkles from '~assets/doodles/sparkles/sparkles-small.svg';
import { Image } from 'astro:assets';
import { SECTIONS } from '~consts/sections';
import HighlightedText from '~components/ui/HighlightedText.astro';
import type { FeatureCardProps } from '~components/shared/FeatureCard.astro';
import FeatureCard from '~components/shared/FeatureCard.astro';
import type { HighlightedTextProps } from '~components/ui/HighlightedText.astro';

const backgroundUrl = `url(${highlight.src})`;

interface Props {
  title: HighlightedTextProps;
  items: FeatureCardProps[];
}

export interface FeaturesProps extends Props {}

const { items, title } = Astro.props;
---

<section id={SECTIONS.FEATURES} class="container">
  <div class="title">
    <Image class="sparkles" src={sparkles} alt="Sparkles" />

    <Typography align="center" tag="h2" styling="headingM">
      <HighlightedText {...title} />
    </Typography>
  </div>

  <div class="features">
    {items.map((feature) => <FeatureCard {...feature} />)}
  </div>
</section>

<style define:vars={{ 'background-url': backgroundUrl }}>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% + var(--s-16) * 2);
    max-width: unset;
    margin-top: var(--section-gap);
    margin-left: calc(var(--s-16) * -1);
    padding: var(--s-100) var(--s-16) var(--s-64) var(--s-16);

    background-color: var(--gray-50);
  }

  .title {
    position: relative;
    max-width: 530px;
    margin-bottom: 140px;
  }

  .sparkles {
    position: absolute;
    top: -70%;
    left: -4rem;
    display: none;

    @media (width >= 650px) {
      display: block;
    }
  }

  .highlightText {
    position: relative;
    display: inline-block;
  }

  .highlight {
    position: absolute;
    bottom: calc(-100%);
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background-image: var(--background-url);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 140px;

    width: 100%;
    max-width: var(--max-width);
  }
</style>
