:root {
  --white: #fff;
  --black: #171717;

  // Primary shades
  --primary-400: #3CE17E;
  --primary-500: #16db65;
  --primary-600: #12b654;

  // Text shades
  --text: #eaedee;

  // Grays
  --gray-50: #f2f2f2;
  --gray-100: #e6e6e6;
  --gray-200: #ccc;
  --gray-300: #b3b3b3;
  --gray-400: #999;
  --gray-500: #808080;
  --gray-600: #666;
  --gray-700: #4d4d4d;
  --gray-800: #333;
  --gray-850: #262626;
  --gray-900: #1a1a1a;
}
