:root {
  --s-2: 0.2rem;
  --s-4: 0.4rem;
  --s-6: 0.6rem;
  --s-8: 0.8rem;
  --s-10: 1rem;
  --s-12: 1.2rem;
  --s-16: 1.6rem;
  --s-20: 2rem;
  --s-24: 2.4rem;
  --s-28: 2.8rem;
  --s-32: 3.2rem;
  --s-36: 3.6rem;
  --s-40: 4rem;
  --s-46: 4.6rem;
  --s-56: 5.6rem;
  --s-64: 6.4rem;
  --s-100: 10rem;
}
