$xs: '480px';
$sm: '768px';
$md: '992px';
$lg: '1200px';
$xl: '1400px';

@mixin media-min($breakpoint) {
  @if $breakpoint == 'xs' {
    @media (min-width: $xs) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (min-width: $md) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (min-width: $xl) {
      @content;
    }
  } @else {
    @error '#{$breakpoint} is not a valid breakpoint';
  }
}

// not recommended - USE MIN if possible
@mixin media-max($breakpoint) {
  @if $breakpoint == 'xs' {
    @media (max-width: $xs) {
      @content;
    }
  } @else if $breakpoint == 'sm' {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (max-width: $lg) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (max-width: $xl) {
      @content;
    }
  } @else {
    @error '#{$breakpoint} is not a valid breakpoint';
  }
}
