---
import ArrowDownRight from 'phosphor-astro/ArrowDownRight.astro';

interface Props {
  variant?: 'primary' | 'secondary';
  class?: string;
  href?: string;
  isFullWidth?: boolean;
  withArrow?: boolean;
}

const {
  variant,
  class: className,
  href,
  isFullWidth,
  withArrow,
} = Astro.props as Props;
---

<a
  href={href}
  target="_blank"
  class:list={[
    className,
    'button',
    'container',
    variant,
    isFullWidth && 'fullWidth',
  ]}
>
  <slot />

  {
    withArrow && (
      <ArrowDownRight class={'arrow'} height={'2.6rem'} width={'2.6rem'} />
    )
  }
</a>

<style>
  .container {
    cursor: pointer;

    display: flex;
    gap: var(--s-10);
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: 4.4rem;
    padding: 0 var(--s-24);
    border-radius: var(--radius-max);

    text-decoration: none;
    white-space: nowrap;

    transition: background-color 0.2s ease-in-out;

    &.fullWidth {
      width: 100%;
    }
  }

  .primary {
    color: var(--black);
    letter-spacing: 0.45px;
    background-color: var(--primary-500);

    &:hover {
      background-color: var(--primary-400);
    }
  }

  .arrow {
    transform: rotate(-90deg);
  }
</style>
